@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
button,
textarea,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: inhert;
  font-style: inhert;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
article,
aside,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 17px/1em "Open Sans", Arial, Verdana, Serif;
  background: #161616;
}
a {
  color: #000;
}

.main {
  background: #fff;
}

@media screen and (max-width: 1049px) {
  .block {
    padding: 0 15px;
  }
}
@media screen and (min-width: 1050px) {
  .block {
    width: 1050px;
    margin: 0 auto;
  }
}

header a {
  padding: 0 5px;
  font-weight: 600;
  text-transform: uppercase;
}
header a:hover {
  color: #fff;
  background: #000;
}
header nav ul li {
  display: inline-block;
}
@media screen and (max-width: 1049px) {
  header {
    text-align: center;
  }
  header h2,
  header nav {
    padding: 15px 0;
  }
  header h2 a {
    font-size: 22px;
    line-height: 1.35em;
  }
  header nav a {
    font-size: 16px;
    line-height: 1.35em;
  }
  header nav ul li {
    padding: 0 3px;
  }
}
@media screen and (min-width: 1050px) {
  header {
    display: table;
  }
  header a {
    font-size: 18px;
    line-height: 1.35em;
  }
  header h2,
  header nav {
    display: table-cell;
  }
  header h2,
  header nav {
    padding: 50px 0;
  }
  header nav {
    text-align: right;
  }
  header nav ul li {
    padding-left: 20px;
  }
  html[dir="rtl"] header nav {
    text-align: left;
  }
}

section.intro {
  text-align: center;
}
section.intro h3 {
  padding: 35px 0;
  font-size: 50px;
  line-height: 1.35em;
  font-weight: 800;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}
section.intro h3 strong {
  display: inline-block;
  padding: 0 9px;
  color: #fff;
  background: #000;
  font-weight: 800;
}
section.intro p {
  padding-bottom: 15px;
  line-height: 1.5em;
  width: 72%;
  margin: 0 auto;
}
section.intro p a {
  text-decoration: underline;
}
section.intro p a:hover {
  text-decoration: none;
}
section.intro img {
  margin: 50px 0 0;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

div.items {
  background: #dcdcdc;
}
section.items h4 {
  padding: 50px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
section.items ul {
  display: block;
  padding-bottom: 35px;
}
section.items ul li {
  width: 220px;
  display: inline-block;
  margin: 0 10px;
  padding-bottom: 45px;
  vertical-align: top;
}
section.items ul li h5 {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5em;
}
section.items ul li a.edit {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 10px 18px;
  font-weight: 600;
  text-transform: uppercase;
}
section.items ul li a.edit:hover {
  background: #fff;
  color: #000;
}
section.items ul li p {
  padding: 15px 0 0;
  line-height: 1.5em;
  font-size: 13px;
  color: #5e5e5e;
}
section.items ul li p a {
  color: #5e5e5e;
  text-decoration: underline;
}
section.items ul li p a:hover {
  text-decoration: none;
}
@media screen and (max-width: 1049px) {
  section.items ul {
    text-align: center;
  }
}
@media screen and (min-width: 1050px) {
  section.items ul {
    text-align: left;
  }
  section.items ul li {
    text-align: center;
  }
}

article {
  line-height: 1.5em;
  padding-bottom: 50px;
}
article p,
article h2,
article h3,
article h4,
article ul,
article ol {
  padding: 8px 0;
}
article p {
  text-align: justify;
}
article p[align="center"] {
  text-align: center;
}
article h1 {
  font-size: 34px;
  font-weight: 800;
  line-height: 1.5em;
}
article h2 {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.5em;
}
article h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5em;
}
article h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5em;
}
article ul,
article ol {
  margin-left: 30px;
}
article ul {
  list-style-type: disc;
}
article ol {
  list-style-type: decimal;
}
article ul ul,
article ul ol,
article ol ul,
article ol ol {
  padding-top: 0;
  padding-bottom: 0;
}
article img:not([width]) {
  width: 100%;
  height: auto;
}
article pre {
  margin: 8px 0;
  padding: 5px 10px;
  overflow: auto;
  background: #ededed;
  font-size: 14px;
  line-height: 1.5em;
}
article strong {
  font-weight: 600;
}
article em {
  font-style: italic;
}
article a {
  text-decoration: underline;
}
article a:hover {
  text-decoration: none;
}
@media screen and (min-width: 1050px) {
  article {
    width: 60%;
    margin: 0 auto;
  }
}

footer {
  padding: 50px 0;
  color: #fff;
  text-align: center;
}
footer p {
  line-height: 1.5em;
}
footer p.by {
  padding-top: 25px;
  color: #626262;
}
footer p.by a {
  color: #626262;
}
footer p a {
  display: inline-block;
  color: #fff;
  padding: 0 5px;
}
footer p a:hover {
  color: #000;
  background: #fff;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
.footer-email-form h2 {
  margin-bottom: 2rem;
}

#footer-email {
  width: 250px;

  height: 40px;

  border-radius: 4px;

  outline: none;

  border: none;

  padding-left: 0.5rem;

  font-size: 1rem;

  margin-bottom: 1em;
}

#footer-email::placeholder {
  color: #b1b1b1;
}

#footer-email-btn {
  width: 100px;
  height: 40px;

  border-radius: 4px;
  background-color: #00a8c9;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}
#footer-email-btn:hover {
  cursor: pointer;

  background-color: #0088a3;

  transition: all 0.4s ease-out;
}

.card {
  width: 150px;
  height: 200px;
  background-color: rgb(124, 124, 124);

  outline-offset: -8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.card-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.99;
  transition: transform 0.75s;
}

.card:hover .card-image {
  transform: scale(1.1);
}

.card1 {
  width: 150px;
  height: 200px;
  background-color: rgb(124, 124, 124);

  outline-offset: -8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.card-image1 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.99;
  transition: transform 0.75s;
}

.card1:hover .card-image1 {
  transform: scale(1.1);
}

.card2 {
  width: 150px;
  height: 200px;
  background-color: rgb(124, 124, 124);

  outline-offset: -8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.card-image2 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.99;
  transition: transform 0.75s;
}

.card2:hover .card-image2 {
  transform: scale(1.1);
}

.card3 {
  width: 150px;
  height: 200px;
  background-color: rgb(124, 124, 124);

  outline-offset: -8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.card-image3 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.99;
  transition: transform 0.75s;
}

.card3:hover .card-image3 {
  transform: scale(1.1);
}
.page3 {
  height: max-content;
  padding-top: 55px;
  padding-bottom: 110px;
  background-color: #fcfcfc;
  /* border:3px red; */
 
}

.block1 {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  /* border: 3px solid red; */
}

.box {
  width: 40%;
  height: auto;
  font-family: inherit;
  text-align: left;
  padding-right: 90px;

  line-height: 1.5;
  /* border: 3px solid red; */
}
.box > h1 {
  font-size: 2.5rem;
  text-align: left;
  padding: 25px;
  font-weight: 500;
  /* border: 3px solid red; */
}

.ourstory {
  background: url("girl.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 480px;
  width: 35%;
  scale: 100%;
  /* border: 3px solid red; */
  
}
.items {
  height: max-content;

  padding: 2% 0 2% 0;
}

.container {
  display: flex;
  /* border : 3px solid red; */
  justify-content: center;
  padding: 2%;
}
.box > p {
  padding: 10px;
}

.box > span {
  color: inherit;
  border-radius: 20px;
  border: 2px solid;
  background: transparent;
  padding: 5px;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
}

.page4 {
  
  background-color: #d4d4d4;
  border-radius: 0 0 10px 10px;
 
}

.stats {
  
  background: url("stats.png");
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  padding: 0px;
  /* border: 3px solid red; */
 
}
.left {
  width: 40%;
  height: auto;
  font-family: inherit;
  text-align: left;
  padding-right: 90px;
  line-height: 1.5;
  
  /* border: 3px solid red; */
}
.left> p {
  padding: 10px;
  font-family: inherit;
  line-height: 1.5;
}

.left > h1 {
  padding: 10px;
  font-size: 2.5rem;
  font-weight: 500;
}
.block2 {
  display: flex;
  justify-content: right;
  height: max-content;
  padding: 15px;

  /* padding-top: 55px;
  padding-bottom: 110px;  */
}